body {
    margin-top: 60px;
}

li img {
	width: 200px;
}

.slotwrapper {
    overflow: hidden;
    display: inline-block;
    border: 1px solid #000;
    height: 200px;
}
.slotwrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    float: left;
}
.slotwrapper ul {
    width: 200px;
    height:200px;
    font-size: 200px;
    line-height: 200px;
    text-align: center;
}
.slotwrapper ul li img {
    vertical-align: top;
}
@media screen and (max-width: 1200px) {
    .slotwrapper {
        width: 100%;
    }
    .slotwrapper ul {
        width: 33%;
    }
}
@media screen and (max-width: 768px) {
    .slotwrapper {
        height: 100px;
    }
    .slotwrapper ul {
        height:100px;
        font-size: 100px;
        line-height: 100px;
    }
}

/* Example 10 override slotwrapper */
#example10 {
    height: 150px;
}
#example10 ul {
    width: 150px;
    height:150px;
    font-size: 150px;
    line-height: 150px;
}
@media screen and (max-width: 1200px) {
    #example10 ul {
        width: 18%;
    }
}
@media screen and (max-width: 768px) {
    #example10 {
        height: 100px;
    }
    #example10 ul {
        height:100px;
        font-size: 100px;
        line-height: 100px;
    }
}