@font-face {
    font-family: 'Hackney-Vector';
    font-style:  normal;
    font-weight: 400;
    src: url('../fonts/Hackney-Vector.ttf') format('truetype');
}

@font-face {
    font-family: 'KGHAPPYSolid';
    font-style:  normal;
    font-weight: 400;
    src: url('../fonts/KGHAPPYSolid.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    font-family: 'Roboto';
}

body {
    background-color: #ccc;
    color: #f7d40c;
    font-family: 'Hackney-Vector';
    margin-top: 0;
}

img {
    font-family: 'Hackney-Vector';
    max-width: 100%;
}

svg {
    font-family: 'Hackney-Vector', 'Roboto';
}

a, a:focus, a:hover, a:visited {
    color: #fff;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.divLogo {
    padding: 1.5em 0 0 1em;
}

.divInstructionsPacks {
    margin-left: -1em;
    margin-top: 5em;
    position: absolute;
}

.divInstructionsSpinner {
    margin: -1em 0 0 1em;
}

.panel-primary>.simba-red {
    background-color: #ff0000;
}

.simba-yellow {
    background-color: #f7d40c;
}

.imgMainCampaingTitle {
    margin-top: -60px;
    width: 300px;
}

.slotwrapper {
    /* background: url('../assets/spinner01.png'); */
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    height: 160px;
    max-width: 360px;
    margin: 0 auto;
    padding-top: 0;
}

.slotwrapper ul {
    width: 33%;
}

#divNumSpins {
    background-color: #fff;
    border-left: 3px solid #C5C5C5;
    border-top: 3px solid #C5C5C5;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-radius: 6px;
    color: #C5C5C5;
    font-family: Hackney-Vector;
    font-size: 60px;
    line-height: 45px;
    margin: 0 auto;
    margin-bottom: 0.5em;
    padding-bottom: 0.1em;
}

.txtEntry {
    background-color: #fff;
    border-left: 3px solid #C5C5C5;
    border-top: 3px solid #C5C5C5;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-radius: 6px;
    color: #C5C5C5;
    font-family: Hackney-Vector;
    font-size: 40px;
    line-height: normal;
    margin: 0 auto;
    margin-bottom: 0.5em;
    padding-bottom: 0.1em;
    padding-top: 0;
    text-align: center;
    height: 50px;
    width: 100%;
}

.imgBarcode {
    height: 50px;
    margin-top: 0px;
}

.imgHR {
    width: 100%;
}

.spnWin {
    background-color: #ff0000;
    color: #f7d40c;
    font-size: 16px;
    padding: 1em;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    width: 120px;
    text-align: center;
}

.align-center {
    text-align: center;
}

.no-padding {
    padding: 0;
}

#btnSpin,
#btnDownload {
    background-color: brown;
    border: 0px solid #000;
    border-radius: 35px;
    color: #fff;
    font-family: 'KGHAPPYSolid';
    font-size: 24px;
    /* font-weight: 700; */
    background: #4C4C4C;
    background: -moz-linear-gradient(top, #652A21 0%, #47241D 100%);
    background: -webkit-linear-gradient(top, #652A21 0%, #47241D 100%);
    background: linear-gradient(to bottom, #652A21 0%, #47241D 100%);
    padding: 5px 60px;
    box-shadow: 0px 8px 15px #47241d;
    width: 250px;
}

#btnSpin.btnSpinToWin {
    width: 100%;
}

#btnSpin.btnRedeem {
    font-size: 20px;
    padding: 5px 30px;
    width: 100%;
}

#btnDownload {
    width: 100%;
}

#divDebug {
    margin-bottom: 1em;
}

#tblCampaignData {
    width: 100%;
}

.containermain {
    background: url(../assets/Simba_BG.jpg);
    background-position: center;
    overflow-x: hidden;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
}

.hamburger-icon  {
    background: url(../assets/btn_hamburger.svg) center;
    background-position: center;
    background-repeat: no-repeat;
    /* background: none; */
    border: 0;
}

.navbar-toggle .hamburger-icon {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-right {
    float: right;
    margin-right: 0;
    height: 50px;
    width: 100px;
}

/* .divSubline {
    margin-left: 70px;
}

.divSubline img {
    width: 400px;
} */

.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li {
    background-color: #853128;
    border: 3px solid #853128;
    border-radius: 10px !important;
    height: 9px;
    width: 9px;
}

.carousel-indicators li.active {
    background-color: #fff;
}

.carousel-item img {
    display: block;
    margin: auto;
  }

.btnHowToPlay {
    background-color: brown;
    border: 0px solid #000;
    border-radius: 35px;
    color: #fff;
    font-family: 'KGHAPPYSolid';
    font-size: 24px;
    /* font-weight: 700; */
    background: #4C4C4C;
    background: -moz-linear-gradient(top, #652A21 0%, #47241D 100%);
    background: -webkit-linear-gradient(top, #652A21 0%, #47241D 100%);
    background: linear-gradient(to bottom, #652A21 0%, #47241D 100%);
    padding: 5px 60px;
    box-shadow: 0px 8px 15px #47241d;
}

.extramargin {
    margin-top: 4rem!important;
}

.extramargin2 {
    margin: 3rem 0 !important;
}

.divYourPrivacy {
    color: #fff;
    margin: 0 2em;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: left;
}

.hrSpacer {
    background-color: #fff;
    border: 1px solid #fff;
    color: #fff;
    height: 5px;
    width: 100%;
    margin: 0 auto;
}

#selStore {
    border-radius: 6px;
    font-size: 30px;
    padding-left: 0.5em;
    padding-bottom: 7px;
    height: 60px;
    width: 100%;
}

.spnRoundNumber {
    background-color: #fff;
    border: 3px solid #f7d40c;
    border-radius: 20px;
    color: red;
    display: block;
    font-size: 24px;
    padding: 3px;
    height: 43px;
    width: 40px;
    text-align: center;
    transform: rotate(-5deg);
    transform-origin: 0 0;
    padding-top: 0;
    margin-top: 20px;
}

.spnDetailsText {
    color: #fff;
    font-size: 24px;
}

.spnDetailsText2 {
    margin-top: 20px;
    display: block;
}

.spnInfo {
    color: #fff;
    font-size: 20px;
}

.spnLose1 {
    color: #fff;
    font-size: 40px;
}

.spnLose2 {
    color: #f7d40c;
    font-size: 24px;
}

.spnLose3 {
    color: #fff;
    font-family: Roboto, Verdana;
    font-size: 15px;
}

/* #tblCampaignData th {
    color: #fff;
    font-family: Roboto, Verdana;
    font-size: 14px;
} */

#tblCampaignData td {
    color: #fff;
    font-family: Roboto, Verdana;
    font-size: 12px;
    width: 20%;
}

.divFooterRow {
    padding-bottom: 20px;
}

.divFooter, .divFooter a {
    color: #fff;
    font-size: 20px;
}

table.dataTable tbody tr {
    background-color: transparent;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    color: #fff;
    text-align: left;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #fff;
    float: none;
    text-align: left;
}